Package: spotify-edge-unofficial
Version: 1:1.1.52.687.gf5565fe5-1
License: https://www.spotify.com/legal/end-user-agreement
Vendor: Spotify AB
Architecture: amd64
Maintainer: Michael Monaco <thepoorpilot@gmail.com>
Depends: libasound2, libatk-bridge2.0-0, libatomic1, libcurl3-gnutls, libgbm1, libgconf-2-4, libglib2.0-0, libgtk2.0-0, libnss3, libssl1.1 | libssl1.0.2 | libssl1.0.1 | libssl1.0.0, libxss1, libxtst6, xdg-utils
Recommends: libavcodec57 | libavcodec-extra57 | libavcodec-ffmpeg56 | libavcodec-ffmpeg-extra56 | libavcodec54 | libavcodec-extra-54, libavformat57 | libavformat-ffmpeg56 | libavformat54
Suggests: libnotify4
Section: sound
Priority: extra
Homepage: https://www.spotify.com
Description: Spotify streaming music client
